@{
    ViewBag.Title = "Welcome on this Quiz Application";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Good to know</h3>
<ol class="round">
    <li class="one">
        <h5>General Information</h5>
        There are two user roles in the application. <strong>Teachers</strong> and <strong>Students</strong>
    </li>

    <li class="two">
       <h5>Functionality</h5>
        Teachers can create and exchange exercises. They can use these exercises to make a Quiz. Students can take these quizzes and see their results.
    </li>

    <li class="three">
        <h5>About</h5>
        Simon Verraest<br />
       .Net Herexamen 2013<br />
    </li>
</ol>
